<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/common :: head(title='Create Service Order')"></head>
<body>
<div th:insert="layout/common :: navbar"></div>
<div class="container col-md-5">
    <div class="card mb-3">
        <div class="card-body">
            <h1>Create Service Order</h1>
            <form method="post" th:action="@{/service-order/customer/create}" th:object="${order}">
                <fieldset class="form-group">
                    <label for="create-title">Title</label>
                    <input class="form-control" id="create-title" name="title"
                           required="required" type="text">
                </fieldset>
                <fieldset class="form-group">
                    <label for="create-description">Description</label>
                    <textarea class="form-control mb-2" id="create-description" name="description" required
                              rows="4"></textarea>
                </fieldset>
                <fieldset class="form-group">
                    <label for="create-work-category">Work Category</label>
                    <select class="form-control mb-2" id="create-work-category" name="workCategoryId">
                        <!--/*/ <th:block th:each="parentCategory: ${workCategories}">  /*/-->
                        <option th:selected="${parentCategory.id} == ${selectWorkCategoryId}"
                                th:text="${parentCategory.name}"
                                th:value="${parentCategory.id}"></option>
                        <option th:each="subCategory: ${parentCategory.subWorkCategories}"
                                th:selected="${subCategory.id} == ${selectWorkCategoryId}"
                                th:text="${'  ' + subCategory.name}"
                                th:value="${subCategory.id}"></option>
                        <!--/*/ </th:block> /*/-->
                    </select>
                </fieldset>
                <fieldset class="form-group">
                    <label for="create-cost">Cost</label>
                    <input class="form-control mb-2" id="create-cost" min="0" name="cost" step="100" type="number"
                           value="0"/>
                </fieldset>
                <input name="specialistId" th:value="${order.specialistId}" type="hidden"/>
                <input name="customerId" th:value="${order.customerId}" type="hidden"/>
                <input name="status" th:value="${order.status}" type="hidden"/>
                <button class="btn btn-success" type="submit">Save Service Order</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>